extends ../node_modules/jade-bootstrap/_bootstrap
doctype html
html
  head
    title= title
  append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='angular-ui-bootstrap/dist/ui-bootstrap-csp.css')
  append body
    include navbar
    h1= index
    block content
    script(src='angular/angular.min.js')
    script(src='bootstrap/dist/js/bootstrap.min.js')
    script(src='angular-ui-bootstrap/dist/ui-bootstrap.js')
    script(src='angular-ui-bootstrap/dist/ui-bootstrap-tpls.js')
